<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="robots" content="noindex">
  <title>SupportVectorMachineJS - Support Vector Machine Classifier</title>

	<script src="js/angular.min.js"></script>
	<script src="js/ng-webworker.min.js"></script>
	<script src="js/angular-file-saver.bundle.min.js"></script>
	<script src="js/d3.min.js"></script>
	<script src="js/SupportVectorMachine.min.js"></script>
	<style>
	</style>
</head>

<body>
	<div class="container">
		<div class="row">
			<div ng-app="DeepLearning">
				<div ng-controller="SupportVectorMachineController">
					<br/>
					<h2>Support Vector Machine Classifier</h2>
					<br/>
					<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
						<li class="nav-item">
							<a class="nav-link active" id="pills-data-tab" data-toggle="pill" href="#pills-data" role="tab" aria-controls="pills-data" aria-selected="true">Data</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="pills-training-tab" data-toggle="pill" href="#pills-training" role="tab" aria-controls="pills-training" aria-selected="false">Training</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="pills-classify-tab" data-toggle="pill" href="#pills-classify" role="tab" aria-controls="pills-classify" aria-selected="false">Classify</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="pills-models-tab" data-toggle="pill" href="#pills-models" role="tab" aria-controls="pills-models" aria-selected="false">Models</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="pills-plot-tab" data-toggle="pill" href="#pills-plot" role="tab" aria-controls="pills-plot" aria-selected="false">Plot</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="pills-guide-tab" data-toggle="pill" href="#pills-guide" role="tab" aria-controls="pills-guide" aria-selected="false">Guide</a>
						</li>
					</ul>
					<div class="tab-content" id="pills-tabContent">
						<div class="tab-pane fade show active" id="pills-data" role="tabpanel" aria-labelledby="pills-data-tab">
							<div class="container border border-secondary rounded">
								<b>select file</b><br/>
								<input type="file" multiple name="trainingfiles" id = "trainingfiles" input-bind class="btn btn-outline-secondary" ng-disabled = "Training" /><br/><br/>
								<b>delimiters</b><br/>
								<select class="form-control" ng-model="delimiter" data-ng-options="x for x in DelimiterNames" ng-change="SelectDelimiter()" ng-disabled = "Training"></select><br/>
								<input type="button" class="btn btn-outline-primary" value="Process data" ng-click="ReadTrainingData()" ng-disabled = "Training"/><br/><br/>
								<textarea ng-model = "fileContent" rows="4" cols="60" style = "resize: none;" readonly ></textarea>
								<br/><br/>
								<div class="{{Items == 0 && Inputs == 0 && Categories == 0 ? 'alert alert-danger' : 'alert alert-success' }}" role="alert">
									<span><b>Items</b>: {{Items}} <b>Input features</b>: {{Inputs}} <b>Categories</b>: {{Categories}}</span>
								</div>
							</div>
							<br/>
						</div>
						<div class="tab-pane fade" id="pills-training" role="tabpanel" aria-labelledby="pills-training-tab">
							<div class="container border border-secondary rounded">
								<div class="row">
									<div class = "col-sm-4">
										<b>Kernels</b><br/>
										<select class="form-control" ng-model="kernel" data-ng-options="x for x in KernelNames" ng-change="SelectKernel()" ng-disabled = "Training"></select><br/>
										<div ng-show = "SelectedKernel == KernelType.Polynomial">
											<b>Bias</b><br/>
											<input class = "form-control" type="number" ng-model = "bias" name="bias" min="0" max="100" step = "0.01" value = "{{bias}}" ng-disabled = "Training" /><br/>
											<b>Exponent</b><br/>
											<input class = "form-control" type="number" ng-model = "exponent" name="exponent" min="0" max="100" step = "0.01" value = "{{exponent}}" ng-disabled = "Training" /><br/>
										</div>
										<div ng-show = "SelectedKernel == KernelType.Gaussian || SelectedKernel == KernelType.Radial">
											<b>Sigma</b><br/>
											<input class = "form-control" type="number" ng-model = "sigma" name="sigma" min="0.01" max="100" step = "0.01" value = "{{sigma}}" ng-disabled = "Training" /><br/>
										</div>
										<div ng-show = "SelectedKernel == KernelType.Sigmoid || SelectedKernel == KernelType.Linear">
											<b>Slope</b><br/>
											<input class = "form-control" type="number" ng-model = "slope" name="slope" min="-1000" max="1000" step = "0.01" value = "{{slope}}" ng-disabled = "Training" /><br/>
											<b>Intercept</b><br/>
											<input class = "form-control" type="number" ng-model = "intercept" name="intercept" min="-1000" max="1000" step = "0.01" value = "{{intercept}}" ng-disabled = "Training" /><br/>
										</div>
										<div ng-show = "SelectedKernel == KernelType.Fourier">
											<b>Scaling Factor</b><br/>
											<input class = "form-control" type="number" ng-model = "scalingFactor" name="scalingFactor" min="-100" max="100" step = "0.01" value = "{{scalingFactor}}" ng-disabled = "Training" /><br/>
										</div>
										<b ng-show = "Categories > 0">Category</b><br ng-show = "Categories > 0"/>
										<input class = "form-control" type="number" ng-model = "category" name="category" min="1" max="{{Categories}}" step = "1" value = "{{category}}" ng-show = "Categories > 0" ng-disabled = "Training" /><br/>
										<button class="btn btn-outline-primary" value="Add Model" ng-click="AddModel()" ng-disabled = "Training" ng-show = "SelectedModel == 0"><i class="fas fa-plus"></i>&nbsp;Add Model</button>
										<button class="btn btn-outline-success" value="Update Model" ng-click="UpdateModel()" ng-disabled = "Training" ng-show = "Models.length > 0 && SelectedModel > 0 && SelectedModel <= Models.length"><i class="fas fa-check"></i>&nbsp;Update Model</button>
										</br/><br/>
									</div>
									<div class = "col-sm-4">
										<b>SVM Regularization</b><br/>
										<input class = "form-control" type="number" ng-model = "regularization" name="regularization" min="1" max="100" step = "1" value = "{{regularization}}" ng-disabled = "Training" /><br/>
										<b>Maximum # of passes</b><br/>
										<input class = "form-control" type="number" ng-model = "passes" name="passes" min="1" max="100" step = "1" value = "{{passes}}" ng-disabled = "Training" /><br/>
										<b>Tolerance</b><br/>
										<input class = "form-control" type="number" ng-model = "tolerance" name="tolerance" min="0.00001" max="10" step = "0.00001" value = "{{tolerance}}" ng-disabled = "Training" /><br/>
									</div>
									<div class = "col-sm-4">
										<b>Models: {{Models.length}}</b><br/>
										<select class="form-control" ng-model="SelectedModel" ng-change="SelectModel()" ng-disabled = "Training">
											<option value = "0">Add Model</option>
											<option ng-selected="{{SelectedModel == x.index}}" ng-repeat="x in Models" value = "{{x.index}}">Model {{x.index}}</option>	
										</select>
										<br/>
										<button class="btn btn-outline-danger" value="Remove Model" ng-click="RemoveModel()" ng-disabled = "Training" ng-show = "Models.length > 0 && SelectedModel != 0"><i class="fas fa-times"></i>&nbsp;Remove Model</button></br/><br/>
										<br/>
										<progress class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" ng-show = "Training && TrainingProgress >= 0 && TrainingProgress < 1" value="{{TrainingProgress}}"></progress><br/ ng-show = "Training && TrainingProgress >= 0 && TrainingProgress < 1">
										<button class="btn btn-success" value="Train Models" ng-click="AsyncTrainer()" ng-disabled = "Training" ng-show = "Models.length > 0 && !Training"><i class="fas fa-play"></i>&nbsp;Train Models</button>
										<button class="btn btn-danger" value="Stop Training" ng-click="StopAsyncTrainer()" ng-disabled = "!Training" ng-show = "Models.length > 0 && Training"><i class="fas fa-stop"></i>&nbsp;Stop Training</button>
									</div>
								</div>
							</div>
							<br/>
						</div>
						<div class="tab-pane fade" id="pills-classify" role="tabpanel" aria-labelledby="pills-classify-tab">
							<div class="container border border-secondary rounded">
								<b>select file</b><br/>
								<input type="file" multiple name="testfiles" id = "testfiles" test-bind class="btn btn-outline-secondary" ng-disabled = "Training" /><br/><br/>
								<input type="button" class="btn btn-outline-primary" value="Process data" ng-click="ReadTestData()" ng-disabled = "Training"/><br/><br/>
								<div class = "row">
									<div class = "col-sm">
										<b>Test data</b><br/>
										<textarea ng-model = "testContent" rows="4" cols="60" style = "resize: none;" readonly></textarea>
										<br/><br/>
										<div class="{{Samples == 0 || Inputs == 0 ? 'alert alert-danger' : 'alert alert-success' }}" role="alert">
											<span><b>Samples</b>: {{Samples}} <b>Input features</b>: {{Inputs}}</span>
										</div>
									</div>
									<div class = "col-sm">
										<b>Classification</b><br/>
										<textarea ng-model = "classificationResult" rows="4" cols="40" style = "resize: none;"></textarea><br/><br/>
										<b>Models: {{Models.length}}</b><br/>
										<select class="form-control" ng-model="SelectedModel" ng-change="SelectModel()" ng-disabled = "Training">
											<option value = "0">All Models</option>
											<option ng-selected="{{SelectedModel == x.index}}" ng-repeat="x in Models" value = "{{x.index}}">Model {{x.index}}</option>	
										</select>
										<br/>
										<b>Threshold</b><br/>
										<input class = "form-control" type="number" ng-model = "Threshold" name="Threshold" min="0.01" max="1" step = "0.01" value = "{{Threshold}}" ng-disabled = "Training" /><br/>
										<input type="button" class="btn btn-outline-primary" value="Classify" ng-click="AsyncClassifier()" ng-disabled = "Training" /><br/><br/>
									</div>
								</div>
							</div>
							<br/>
						</div>
						<div class="tab-pane fade" id="pills-models" role="tabpanel" aria-labelledby="pills-models-tab">
							<div class="container border border-secondary rounded">
								<b>Models: {{Models.length}}</b><br/>
								<select class="form-control" ng-model="SelectedModel" ng-change="DisplayModelParameters()" ng-disabled = "Training">
									<option value = "0"></option>
									<option ng-selected="{{SelectedModel == x.index}}" ng-repeat="x in Models" value = "{{x.index}}">Model {{x.index}}</option>	
								</select>
								<br/>
								<b>Model Parameters</b><br/>
								<textarea ng-model = "modelParameters" rows="10" cols="80" style = "resize: none;" readonly></textarea><br/><br/>
								<input type="button" class="btn btn-outline-primary" value="Save Models" ng-click="SaveModels()" ng-disabled = "Training" />&nbsp;<input type="button" class="btn btn-outline-success" value="Load SVM Models" ng-click="LoadSVM()" ng-disabled = "Training" />&nbsp;<input type="file" multiple name="svmfiles" id = "svmfiles" network-bind class="btn btn-outline-secondary" ng-disabled = "Training" /><br/><br/>
							</div>
							<br/>
						</div>
						<div class="tab-pane fade" id="pills-plot" role="tabpanel" aria-labelledby="pills-plot-tab">
							<div class="container border border-secondary rounded">
								<br/>
								<div class = "row">
									<div class = "col">
										<input type="button" class="btn btn-outline-primary" value="Render Test Data" ng-click="RenderTestData()" ng-disabled = "Training" />&nbsp;<input type="button" class="btn btn-outline-success" value="Save Render" ng-click="SaveRenderedData()" ng-disabled = "Training" /><br/><br/>
									</div>
								</div>
								<div class = "row">
									<div class = "col">
										<b>Width</b><br/>
										<input class = "form-control" type="number" ng-model = "PlotWidth" name="PlotWidth" min="640" max="1024" value = "{{PlotWidth}}" style = "width: 100px;" ng-disabled = "Training"/>
										<b>Height</b><br/>
										<input class = "form-control" type="number" ng-model = "PlotHeight" name="PlotHeight" min="640" max="1024" value = "{{PlotHeight}}" style = "width: 100px;" ng-disabled = "Training"/>
										<br/>
									</div>
								</div>
								<div class = "row">
									<svg id='plot'></svg><br/><br/>
								</div>
								<br/><br/>
							</div>
							<br/><br/>
						</div>
						<div class="tab-pane fade" id="pills-guide" role="tabpanel" aria-labelledby="pills-guide-tab">
							<div class="container border border-secondary rounded">
								<br/>
								<h2>Under Construction</h2>
							</div>
							<br/><br/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</body>
</html>
